.container {
    margin: 0 auto;
    width: 940px;
}

#brand {
    color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    font-weight: bold;
    height: 50px;
    margin: 0;
    margin-top: 25px;
    padding: 0;
    text-align: center;
}

#menu {
    background-color: #212121;
    height: 50px;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    text-align: center;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #9E9E9E;
    padding: 2px 10px;
    text-decoration: none;
}

#menu ul li a:hover {
    text-decoration: underline;
    color: #BDBDBD;
    margin-top: 30px;
} 

main {
    margin-top: 15px;
}

aside {
    float: left;
    width: 30%;
}

aside h3 {
    color: #212121;
}

#menu-left ul li {
    list-style: none;
    padding: 2px 10px;
    text-decoration: none;
}

#menu-left ul li a {
    color: #9E9E9E;
    text-decoration: none;
}

#menu-left a:hover {
    text-decoration: underline;
    color: #BDBDBD;
    }

#products-list {
    float: right;
    min-height: 600px;
    width: 70%;
}

/*TESTANDO CSS CONTATO*/

fieldset {
    border: none;
}

label {
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}
.legend {
    color: #393838;
}

#name {
    border-radius: 6px; 
    border-width: 1px;
    width: 450px;
}

#email {
    border-radius: 6px;
    border-width: 1px;
    width: 450px;
}

#telephone {
    border-width: 1px;
    border-radius: 6px;
    width: 440px;
}

#message {
    border-radius: 6px;
    width: 500px;
}

em {
    color: red;
}

#contactForm {
    display: block;
    clear: both;
}

/*fim do teste css contato*/

.product-card {
    height: 200px;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

    .product-image {
        float: left;
        width: 30%;
    }

    .product-info {
        float: right;
        height: 200px;
        position: relative;
        width: 70%;
    }
    .product-image img {
        padding: 0;
        width: 100%;;
    }

    .product-info h6 {
        color: #393838;
        font-size: 36px;
        margin: 0;
        padding: 0;
        padding-left: 10px;
    }

    .product-info span {
        color: red;
        font-size: 24px;
        display: block;
        padding-left: 10px;
        position: absolute;
    }

    .product-info a {
        bottom: 0;
        text-decoration: none;
        padding-left: 10px;
        position: absolute;
    }

    .product-info a:hover {
        text-decoration: underline;
    }

footer {
    clear: both; /*Joga o rodapé abaixo do maior elemento anterior*/
    background-color: #212121;
    height: 100px;
}

#text-footer {
    color: #9E9E9E;
    margin: 0 auto;
    text-align: center;
    width: 940px;
    font-size: 15px;
}
/*TESTANDO CSS MINHA CONTA*/
*{ margin: 0; padding: 0;}
body {background: none;}


#menuMinhaConta {margin:10px ; width: 80px; padding:100 ;float: left;}
#menuMinhaConta li {list-style: none; background:#fff;width: 280px;border-bottom: 2px solid #666;}
#menuMinhaConta li a {display:block; padding: 8px; border-left:4px solid #444; text-decoration: none;box-shadow: 2px 2px 5px #ccc;color:#555;}
#menuMinhaConta li a:hover {border-left: 8px solid #069; background: #bdc3c7} /* Faz o efeito azul no canto do meu e deixar escuro quando passamos o mause no menu*/
    
.adress {
  position: relative;
  left: 330px;
  padding: 70px;
  width: 300px;
  height: 100px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #1eabed;
}

.division {
float: left;
  width: 100%;
  height: 2px;
  background-color: #1eabed;
}

.icon {
  width: 30px;
  height: 30px;
  fill: #1eabed;
}

.lapis,
.lixeira {
  position: absolute;
}

.lapis {
  top: 20px;
  right: 50px;
}

.lixeira {
  top: 20px;
  right: 10px;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 5px;
  width: 200px;
  color: #fff;
  text-decoration: none;
  background-color: #1eabed;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.15);
}
